# Python stuff
**/__pycache__/
.pytest_cache

# No secrets nor sessions
*.secret
*.session
.env

# Logs
log/*

# No user files
storage/*.yaml
storage/mocked/*
!**/.keep

# No user config files
config.yaml
config/*.yaml

# No Mac Stuff
.DS_Store