# Configuration to choose how and which displays are used.
displays:
  # [List] List of displays available to be used.
  # The root keys of this file are the available displays, but needs to be said explicitly here.
  available_displays:
    - eink
    - matrix_led
    - lcd
  # [String] The display to use for foreground notifications. Must be one of the available displays.
  # Foreground notifications are those that need to be shown immediately, like questions and answers from tools.
  # foreground_display: lcd
  foreground_display: eink
  # [String] The display to use for background notifications. Must be one of the available displays.
  # Background notifications are those that react on the state of the system, like "listening", "thinking", "speaking", etc.
  # background_display: lcd
  background_display: matrix_led

# Configuration fo the eInk Display
eink:
  # [Bool] Generates a PNG instead of outcoming through the eInk Display
  mock: True
  # [Bool] Do a full clear while initializing
  # KEEP AS TRUE. Seems like the eInk needs a full Clear on init to be able to show afterwards.
  initial_clear: True
  # Size of the display
  size:
    x: 250
    y: 122
  # [bool] Rotate the display 180 degrees or not. This only affects the eInk, not mocked.
  rotate: True
  # Configuration regarding the fonts
  fonts:
    ultra: 85
    huge: 45
    big: 22
    medium: 14
    small: 10
    small_emoji: 9
    tiny: 8

# Configuration fo the Max7219 matrix led
matrix_led:
  # [Bool] Generates a PNG instead of outcoming through the eInk Display
  mock: True
  # [Bool] Discard mocked images (avoids generating tons of PNGs while testing).
  # Only works if mock is True
  discard_mocked_images: True
  # [Integer] The intensity of the leds, from 0 to 255
  intensity: 40
  # Size of the display
  size:
    x: 8
    y: 8

lcd:
  # [Bool] Generates a PNG instead of outcoming through the ST7789P3 Display
  mock: True
  # Size of the display
  size:
    x: 280
    y: 240
  # [bool] Rotate the display 180 degrees or not.
  rotate: False
  # Configuration regarding the fonts
  fonts:
    ultra: 85
    huge: 45
    big: 28
    medium: 24
    small: 20
    small_emoji: 16
    tiny: 16