# Configuration for the GPIO support
gpio:
  # [Bool] Ignores GPIO hardware and applies whatever mock strategy defined for each GPIO family.
  mock: True

  # Button definition
  buttons:
    # [Bool] Ignores GPIO hardware and uses Pyinput module to simulate button presses from the keyboard.
    mock: True
    # Defined buttons
    devices:
      - name: side
        pin: 17
        mocked_as: "ctrl"
  
  # Fan definition
  fans:
    # [Bool] Ignores GPIO hardware and uses Pyinput module to simulate fan state changes from the keyboard.
    mock: True
    # Defined fans
    devices:
      - name: side
        # No-PWM approach
        # pin: 23
        # PWM approach
        pin: 12
        is_pwm: True
      - name: rear
        # No-PWM approach
        # pin: 26
        # PWM approach
        pin: 13
        is_pwm: True

  # CPU temperature definition
  cpu_temperature:
    # [Bool] Ignores GPIO hardware and returns static values.
    mock: True
    # [Int] Control temperature every X seconds.
    control_interval_seconds: 5
    # [Int] Minimum temperature in Celsius to consider for the CPU temperature management. Below this, the fans will be off.
    min_temperature: 30
    # [Int] Maximum temperature in Celsius to consider for the CPU temperature management. Above this, the fans will be at maximum speed.
    max_temperature: 90
    # [Int] Threshold temperature in Celsius to consider for the CPU temperature management. Above this, the fans will be on.
    # This is the value that you're looking for.
    threshold: 50
    # [Int] Margin temperature in Celsius to consider for the CPU temperature management.
    # When the fan is on, it crosses down the threshold, and will stop at threshold - margin.
    margin: 10
    # Thresolds for the PWM fans. These thresholds are used to determine the speed of the fans based on the CPU temperature.
    pwm_thresholds:
      # [Int] Threshold temperature in Celsius to consider for the CPU temperature management. Above this, the fans will be at 25% speed.
      threshold_25: 50
      # [Int] Threshold temperature in Celsius to consider for the CPU temperature management. Above this, the fans will be at 50% speed.
      threshold_50: 70
      # [Int] Threshold temperature in Celsius to consider for the CPU temperature management. Above this, the fans will be at 75% speed.
      threshold_75: 80
    # [String] Path to the CPU temperature sensor. By default, it is set to the common path for Raspberry Pi, but it may vary depending on the hardware.
    sensor_file: "/sys/class/thermal/thermal_zone0/temp"