###########################
#     Pitxu Chatbot       #
###########################

# App Info
app:
  # Application name
  name: "Pitxu"
  # Which language to start with. Possible values "en-us", "ca", "de", "es"
  default_language: "ca"
  # Defines the supported languages. Must instersect STT, TTS and Gemini, and have definitions in this config.
  supported_languages: ["en-us", "ca", "de", "es"]

# Filesystem definition
storage:
  # Where, from the root of the project
  path: "storage/"

gpio:
  # Whether to enable GPIO support
  mocked: True
  # Pin number for the button green
  button_green_pin: 6
  # Pin number for the LED blue
  led_blue_pin: 5