###########################
#     Pitxu Chatbot       #
###########################

# App Info
app:
  # Application name
  name: "Pitxu"
  # Which language to start with. Possible values "en-us", "ca", "de", "es"
  default_language: "ca"
  # Defines the supported languages. Must instersect STT, TTS and Gemini, and have definitions in this config.
  supported_languages: ["en-us", "ca", "de", "es"]

# Filesystem definition
storage:
  # Where, from the root of the project
  path: "storage/"
  # General purpose state
  state_file: "state.yaml"
  # Mock files
  mocked_files:
    # [String] Path for mocked eInk output files
    eink: "mocked/eink/"
    # [String] Path for mocked LED output files
    led_matrix: "mocked/matrix/"
    # [list<String>] Exclude the following files from cleaning
    exclude_from_cleaning: ["_latest.png", ".keep"]

gpio:
  # Whether to enable GPIO support
  mocked: True
  # Pin number for the button green
  button_green_pin: 26
  # Pin number for the button red: POWER BUTTON
  # Important: The pin is hard-requirement: The UPS is connected via POGO pins.
  button_red_pin: 6
  # Pin number for the LED blue
  led_blue_pin: 16

ups:
  # Whether to enable UPS support
  mocked: True
  # I2C address of the UPS
  i2c_address: 0x36