# Parameters related to the server exposing endpoints for remote interaction with clients
server:
  # [Bool] Is the server enabled.
  enabled: True
  # [String] Host to bind the server to.
  # It will accept only connections to this host. Use 0.0.0.0 to accept connections from any host.
  host: "127.0.0.1"
  # [Integer] Port to bind the server to.
  # Will accept connections to this port.
  port: 5000

# Parameters related to the client connecting to the server endpoints for interacting with the server
client:
  # [String] The Server host to connect to.
  host: "127.0.0.1"
  # [Integer] Port to connect to the server.
  port: 5000