# Configurations for the Speech-to-Text
speech-to-text:
  # [Bool] Avoids using the Speech-to-Text and uses the keyboard input instead.
  mock: False
  # [Integer] Index of the car to use, from the list in `make sounddevices`. Set [None] for autodetect
  # input_device: 4 # MacOS connected to the USB Hub
  input_device: 0 # MacOS alone
  # Microphone channels activation flags
  # This functionality is gone.
  #microphone_channels:
    # [Bool] Activates the left channel
    #left: True
    # [Bool] Activates the right channel
    #right: False
  # [String] Engine to use for the Speech-to-Text. Options: "vosk", "whisper", as the string used for the key in the configuration.
  engine: "vosk"
  # [Integer] Number of bytes to process in each chunk sent to the STT engine. This is a tradeoff between latency and performance.
  # It is applied only in the server module to split the received audio for processing.
  bytes_per_chunk: 4000
  # [Integer] Number of samples to process in each chunk sent to the STT engine. This is a tradeoff between latency and performance.
  # It is applied in the main Input Stream setup (sounddevice.InputStream) and in the Capture Handler callback for VAD identification.
  # Defaults to 1024.
  blocksize: 1024
  # [Integer] The sample rate to use for the Audio Input used by the Mic itself.
  # -1 means that it will use the samplerate of the input device (Mic), inferred by the sounddevice library.
  # Note: this is not necessarily the same sample rate that the STT engine will use,
  #   as the audio will be resampled to match the one expected by the STT engine.
  # input_samplerate: 16000
  input_samplerate: -1
  # [Integer] The sample rate to resample to, before adding it into the processing queue of the STT engine.
  # This must match the sample rate expected by the STT engine (Vosk, Whisper, etc.),
  #   as well as the one set in the Preprocessor.
  target_samplerate: 16000
  # [Bool] Whether to save the preprocessed audio data to a file for debugging purposes.
  save_input_audio: True
  # [Bool] Generates plots for the audio signal (original and filtered) for debugging purposes.
  generate_signal_plots: True
  # [Bool] Generates plots for the audio spectrograms (original and filtered) for debugging purposes.
  generate_spectrogram_plots: True
  # [Bool] Generates plots for the audio Fourier transforms (original and filtered) for debugging purposes.
  generate_fourier_transform_plots: True
  # Configurtion for the Voice Activity Detection (VAD) module
  vad:
    # [Bool] VAD is activated or not.
    enabled: True
    # [Float] Threshold for the VAD to consider that there is voice activity.
    # This is a value between 0 and 1, where 0 means that any sound is considered voice and 1 means that only very loud sounds are considered voice.
    threshold: 0.8
    # [Float] Seconds before speech onset confirmed
    attack: 0.0
    # [Float] Seconds of silence before speech end
    release: 2.0
  # Configuration for the Preprocessor (filters noises, energy identification)
  preprocessor:
    # [Bool] Preprocessor is activated or not.
    enabled: True
    # [Integer] Low cut frequency for the bandpass filter in Hz.
    lowcut_freq: 300
    # lowcut_freq: 100
    # [Integer] High cut frequency for the bandpass filter in Hz.
    highcut_freq: 10000
    # [Integer] Order of the Butterworth filter used for preprocessing.
    filter_order: 3
    # [Integer] Sample rate to use for the preprocessor. This should match the input_samplerate.
    # Tipically, this value will be ignored, as the Preprocessor should receive it as param from the main
    # SpeechToText class. Understand this as a fallback value, in case the main SpeechToText class doesn't provide it.
    samplerate: 16000
    # [Bool] Whether to save the preprocessed audio data to a file for debugging purposes.
    save_preprocessed_audio: True
  # Specific configuration for Vosk, when applicable.
  vosk:
    # Model to use per language. If None (in a language), it will use the default SMALL one for the selected one.
    # See https://alphacephei.com/vosk/models
    model:
      # Catalan
      ca: vosk-model-small-ca-0.4
      # Spanish
      es: vosk-model-small-es-0.42
      # English
      en-us: vosk-model-small-en-us-0.15
      # German
      de: vosk-model-small-de-0.15
    # [Integer] The sample rate to use for the transcription model (Kaldi).
    # The value should be passed from the Main class, otherwise takes this value.
    # -1 means that it will infer the sample rate from the input device (Mic) using the sounddevice library.
    input_samplerate: 16000
  # Specific configuration for Whisper, when applicable.
  whisper:
    # Model to use per language. If None (in a language), it will use the default SMALL one for the selected one.
    # See https://github.com/openai/whisper# Models: tiny, base, small, medium, large. The ones with ".en" are optimized for English.
    model: 
      # Catalan
      ca: tiny
      # Spanish
      es: tiny
      # English
      # Attention: The rest of the app is still under "en-us", but all Whisper related uses just "en", 
      # and should replace the current app setup (leaving Vosk as the single exception, not the other way around)
      en: tiny.en
      # German
      de: tiny
    # [String] The location where the offline whisper files are stored.
    #   It will take the path starting from /storage or whatever is defined in the Main configuration for the storage_path, and then add this path to it.
    download_root: whisper
    # [String] The device to use for the Whisper model. Options: "cpu", "cuda", "mps", etc.
    #   See https://github.com/openai/whisper#usage for more details.
    device: cpu
    # [Bool] Whether to load the whole model in memory or not.
    #   Loading the whole model in memory can improve performance, but it can also consume more RAM. 
    #   If False, the model will be loaded on demand for each inference, which can save RAM but can increase latency.
    in_memory: True
  


# Configurations for the Text-to-Speech
text-to-speech:
  # [Bool] Avoids using the Speech-to-Text and uses the keyboard input instead.
  mock: False
  # [Integer] Index of the card to use, from the list in `make sounddevice`. Set [None] for autodetect
  # output_device: 5 # MacOS connected to the USB Hub
  output_device: 1 # MacOS alone
  # [String] ALSA control name for the speakers. Only used on Linux with ALSA.
  alsa_speaker_control_name: "Speaker"
  # alsa_speaker_control_name: "Master"
  # [String] ALSA control name for the microphone. Only used on Linux with ALSA.
  # alsa_mic_control_name: "Mic"
  alsa_mic_control_name: "Capture"
  # [String] Is the microphone understood by ALSA as Mono? Otherwise will be stereo.
  # This is important because the reading of the values won't work otherwise.
  alsa_is_mic_mono: True
  # [Integer] Volume addition to the volume level read from the system.
  add_to_output_volume: 0
  # Model per language. There has to be always 2 related files: *.onnx and *.onnx.json
  per_language:
    # Catalan
    ca: ca_ES-upc_pau-x_low
    # Spanish
    es: es_ES-davefx-medium
    # English
    en-us: en_US-joe-medium
    # German
    de: de_DE-karlsson-low