# Configurations for the Speech-to-Text
speech-to-text:
  # [Bool] Avoids using the Speech-to-Text and uses the keyboard input instead.
  mock: True
  # [Integer] Index of the card to use, from the list in `make sounddevice`. Set [None] for autodetect
  input_device: 0
  # Model to use per language. If None (in a language), it will use the default SMALL one for the selected one.
  # See https://alphacephei.com/vosk/models
  model:
    # Catalan
    ca: vosk-model-small-ca-0.4
    # Spanish
    es: vosk-model-es-0.42
    # English
    en-us: vosk-model-small-en-us-0.15
    # German
    de: vosk-model-de-0.21
  # Microphone channels activation flags. Useful to Mute one channel mic for example in Whisplay that fronts the CPU fan.
  microphone_channels:
    # [Bool] Activates the left channel
    left: True
    # [Bool] Activates the right channel
    right: False

# Configurations for the Text-to-Speech
text-to-speech:
  # [Bool] Avoids using the Speech-to-Text and uses the keyboard input instead.
  mock: False
  # [Integer] Index of the card to use, from the list in `make sounddevice`. Set [None] for autodetect
  output_device: 0
  # [String] ALSA control name for the speakers. Only used on Linux with ALSA.
  ALSA_SPEAKER_CONTROL_NAME: "Speaker"
  # ALSA_SPEAKER_CONTROL_NAME: "Master"
  # [String] ALSA control name for the microphone. Only used on Linux with ALSA.
  # ALSA_MIC_CONTROL_NAME: "Mic"
  ALSA_MIC_CONTROL_NAME: "Capture"
  # [Integer] Volume addition to the volume level read from the system.
  SINK_VOLUME_ADDITION: 0
  # Model per language. There has to be always 2 related files: *.onnx and *.onnx.json
  per_language:
    # Catalan
    # ca: ca_ES-upc_pau-x_low
    ca: ca_ES-upc_ona-medium
    # Spanish
    es: es_ES-davefx-medium
    # English
    en-us: en_US-joe-medium
    # German
    # de: de_DE-karlsson-low
    de: de_DE-thorsten-medium